# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Database & local data
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Vercel & Node
.vercel/
node_modules/
dist/
.env.local
.env.*.local
